- if logged_in?
  = link_to "Create New Kind", new_kind_path, class: 'btn'

%section.kinds.clearfix
  - if @kinds.empty?
    %p There are no kinds! Add a kind using the link on this page.
  - else
    - @kinds.each do |kind|
      .kind__container
        = link_to events_path(kind: kind.name), class: 'kind__link' do
          %article.kind
            .kind__img-container
              %img.kind__img(src="#{kind.cover}")
            .kind__content
              %h2.kind__name= kind.name
              %p.kind__desc= kind.description

        - if logged_in?
          = link_to "Delete", kind_path(kind), method: :delete, class: 'btn-delete btn-delete--bottom-right', data: { confirm: "Are you sure you want to delete the kind \"#{kind.name}\"? NOTE: All events associated with this kind will also be removed." }
