= content_for :head do
  = javascript_include_tag "sessions_filter", "data-turbolinks-track" => "reload"

%section.sessions
  %h2.sessions__title
    %span Sessions
    .sessions-filter
      %button.sessions-filter__button Filter
      %ul.sessions-filter__list
        - @kinds.each_with_index do |kind, ind|
          %li(class="sessions-filter__item sessions-filter__item--#{ind}")
            %a.sessions-filter__link(href="#" data-kind="#{kind.name}")
              %span.sessions-filter__link--icon= kind.name

    - x = Math.cos(2 * Math::PI / @kinds.count) * 0.5 + 0.5
    - y = -(Math.sin(2 * Math::PI / @kinds.count) * 0.5 - 0.5)
    %svg(height="0" width="0")
      %defs
        %clipPath(clipPathUnits="objectBoundingBox" id="sector")
          %path(fill="none" stroke="#111" stroke-width="1" class="sector" d="M0.5,0.5 l0.5,0 A0.5,0.5 0 0,0 #{x},#{y} z")

  %ul.sessions__list
    - @sessions.each_with_index do |sess, ind|
      %li.session-card(data-kind="#{sess.kind.name}")
        = link_to session_path(sess), class: 'session-card__link' do
          %img.session-card__img(src="#{sess.cover}")
          .session-card__overlay
            %ul.session-card__overlay-content
              %li.session-card__time
                %time(datetime="#{sess.date}")= sess.date
              %li.session-card__title
                %h3.session-card__title--inner= sess.title
              %li.session-card__kind
                %small= sess.kind.name
