= content_for :head do
  = javascript_include_tag "slideshow", "data-turbolinks-track" => "reload"

%section.session
  %h2.session__title= @session.title

  = form_for @session, url: session_images_path(@session), html: { class: 'clearfix' }, method: 'POST' do |f|
    %fieldset
      %dl.form__group.form__group--6of12
        %dt.form__item
          = f.label :images, 'Images', class: 'form__label'
        %dd.form__item
          = f.file_field :images, class: 'form__field', multiple: true
    .form__group
      = f.submit 'Add Images', class: 'btn btn-primary'

  #slideshow.slideshow
    .slideshow__slides
      - @session.images.each_with_index do |image, index|
        %figure.slideshow__figure(data-id="#{index}")
          %img(src="#{image}" alt="PHOTO")
    %ul#thumbnails.thumbnails
      - @session.images.each_with_index do |image, index|
        %li.thumbnails__item(data-id="#{index}")
          %a(href="#")
            %img(src="#{image.thumb}" alt="THUMBNAIL")
    %ul
      %li
        %a.prev(href="#")
          %i.material-icons navigate_before
      %li
        %a.next(href="#")
          %i.material-icons navigate_next
