%section.clearfix
  = form_for @user do |f|
    %fieldset
      %dl.form__group.form__group--6of12
        %dt.form__item
          = f.label :name, 'Name', class: 'form__label'
        %dd.form__item
          = f.text_field :name, class: 'form__field'
      %dl.form__group.form__group--6of12
        %dt.form__item
          = f.label :email, 'Email', class: 'form__label'
        %dd.form__item
          = f.email_field :email, class: 'form__field'
      %dl.form__group.form__group--6of12
        %dt.form__item
          = f.label :password, 'Password', class: 'form__label'
        %dd.form__item
          = f.password_field :password, class: 'form__field'
      %dl.form__group.form__group--6of12
        %dt.form__item
          = f.label :portrait, 'Portrait', class: 'form__label'
        %dd.form__item
          = f.file_field :portrait, class: 'form__field'
      %dl.form__group
        %dt.form__item
          = f.label :summary, 'Summary', class: 'form__label'
        %dd.form__item
          = f.text_area :summary, class: 'form__field form__field--vert-resizeable'
    .form__group
      = f.submit 'Update', class: 'btn btn--wide'
