%section.about.clearfix
  %h2.about__title About Me
  .row.about__content.clearfix
    .col.col--6of12
      %img.about__img(src="#{@user.portrait}")
    .col.col--6of12
      .about__summary= display_paragraphs(@user.summary, nil, false)

  %hr.about__hr

  %p.about__form__explain Want to find out more? Interested in prints, booking a session? Or maybe you spotted a typo on my website? Send me message.

  = form_for @contact_me, class: 'about__form' do |f|
    %fieldset
      %dl.form__group.form__group--6of12
        %dt.form__item
          = f.label :name, 'Name', class: 'form__label'
        %dd.form__item
          = f.text_field :name, class: 'form__field', placeholder: 'Amazing Person', required: true
      %dl.form__group.form__group--6of12
        %dt.form__item
          = f.label :email, 'Email', class: 'form__label'
        %dd.form__item
          = f.email_field :email, class: 'form__field', placeholder: 'amazing_person@example.com', required: true
      %dl.form__group
        %dt.form__item
          = f.label :message, 'Your Message', class: 'form__label'
        %dd.form__item
          = f.text_area :message, class: 'form__field form__field--vert-resizeable', placeholder: "What do you have to say?", required: true
    .form__group
      = f.submit 'Send', class: 'btn btn--wide'
