%section.pages_index.clearfix
  %h2 To Do
  %ul
    %li
      %a(href="#") Full Home Page
    %li
      %a(href="#") Pricing
    %li
      %p Form Error Messages on fields

  %hr

  %h2 Working Links
  %ul
    %li
      = link_to 'Home', home_path
    %li
      = link_to 'Admin Edit Profile', edit_user_path(User.first)
    %li
      = link_to 'Admin Create New Kind', new_kind_path
    %li
      = link_to 'View All Kinds', kinds_path
    %li
      = link_to 'Admin Edit Kind', edit_kind_path(Kind.first)
    %li
      = link_to 'Admin Delete Kind', kinds_path
    %li
      = link_to 'Admin Create New Event', new_event_path
    %li
      = link_to 'View All Events', events_path
    %li
      = link_to 'View Event', event_path(Event.first)
    %li
      = link_to 'Admin Edit Event', edit_event_path(Event.first)
    %li
      = link_to 'Admin Delete Event', event_path(Event.first)
    %li
      = link_to 'Add Images to Event', event_path(Event.first)
    %li
      = link_to 'Delete Image from Event', event_path(Event.first)
    %li
      = link_to 'About page with Contact Me form', about_path
    %li
      = link_to 'Book Me page with form', book_me_path
