%h2 To Do
%ul
  %li
    %a(href="#") Full Home Page
  %li
    %a(href="#") Pricing & Contact
  %li
    %a(href="#") Prints
  %li
    %a(href="#") About
  %li
    %p Restrict resource CrUD to admin

%hr

%h2 Working Links
%ul
  %li
    = link_to 'Home', home_path
  %li
    = link_to 'Kinds Index', kinds_path
  %li
    = link_to 'Sessions Index', sessions_path
  %li
    = link_to 'Admin Create New Session', new_session_path
  %li
    = link_to 'Admin Create New Kind', new_kind_path
  %li
    = link_to 'Admin Edit Kind', edit_kind_path(Kind.first)
  %li
    = link_to 'Admin Create New Session', new_session_path
  %li
    = link_to 'Admin Edit Session', edit_session_path(Session.first)
  %li
    = link_to 'Admin Edit Profile', edit_user_path(User.first)
