%table.contact-me
  %tr
    %td.contact-me__label Name:
    %td.contact-me__content= @client.name
  %tr
    %td.contact-me__label Phone:
    %td.contact-me__content= @client.phone
  %tr
    %td.contact-me__label Email:
    %td.contact-me__content= @client.email
  %tr
    %td.contact-me__label Event Date:
    %td.contact-me__content= @client.event_date
  %tr
    %td.contact-me__label Event Type:
    %td.contact-me__content= @client.event_type
  %tr
    %td.contact-me__label Message:
    %td.contact-me__content= @client.message
