%table.book_me
  %tr
    %td.book_me__label Name:
    %td.book_me__content= @client.name
  %tr
    %td.book_me__label Phone:
    %td.book_me__content= @client.phone
  %tr
    %td.book_me__label Email:
    %td.book_me__content= @client.email
  %tr
    %td.book_me__label Event Date:
    %td.book_me__content= @client.event_date
  %tr
    %td.book_me__label Event Type:
    %td.book_me__content= @client.event_type
  %tr
    %td.book_me__label Message:
    %td.book_me__content= @client.message
